body{
    margin:0 ;
    padding:0;   
}

.ul{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: black;
    
    
    margin:0 ;
    padding:0;

   
}

.li{
    font-size: 20px;
    text-align: center;
    color: white;
    height: 10vh;
    width: 20.5%;
    text-align: center;
    line-height: 10vh;list-style-type: none;
     background-color: black;}
     

.logo{
    text-align: center;
    list-style: none;
    color: white;
    height: 10vh;
    width: 6%;
    line-height: 10vh;
    text-align: center;
     background-color: black;}


 .logo:hover    {
    background-color: grey;
}
     
a{
        color: white;
        text-decoration: none;
    
         }

a:hover{color:gray;}
 
.bout{
    position:absolute;
    bottom: 0;
    right: 0;
    z-index: 20;
    color: red;
    border: black 2px solid;
}
.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 90vh;
    
    background-image:url("photos/mariageaccueil.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
        }
    
        .titre{
         display: flex;
         justify-content: center;
        
        }

        .fond{
            background-attachment: fixed;
            
            
            background-image: url("flowers-4032775__340.webp");
        }

        .boitetrans
         {
          
          background-color: #ffffff;
          border: 1px solid black;
          opacity: 0.6;
        }
        img{
            width: 5vw;
            height: 5vh;
            vertical-align: middle;
        }

        .photo{
            width:30vw;
            height: 25vh;
            margin: 10px;
            display: none;
           
        }

        .ecran{
            height: 80vh;
        }
        .gl{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            height: 60vh;
           align-items: center;
            
        }

        .tg{
            text-align: center;
            height: 10vH;
           
            
        }

        .bouton{
            width:60px;
            height: 25px;
            border:2px solid red;
            border-radius:10%/50%;
            background-color:red;
            margin:5px;
            line-height:25px;
            text-align:center;
        }

        .bb{
            width:100vw;
            display:flex;
            justify-content:space-between;
        }      

        .formulaire{
            padding:10px ;
            margin: 50px;
            display:flex;
            justify-content: center;
            border: 3px solid black;
        }

        .cadre{
            height:90vh;
            display: flex;
            flex-direction: column;
            justify-content: center;        }


            @media screen and (max-width:700px) {
                .gl{display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                width:60vw ;
                height: 90vh;
            align-items: center;
            justify-content: center;
       }
        
                .bb{display: flex;
                    flex-direction: column;
                    width:20vw ;
                    height: 90vh;
                    align-items: center;
                    justify-content:space-around ;
                }
                
                .ecran{
                    display: flex;
                }
                .tg{
                    height: 90vh;
                   line-height: 90vh;
                    width:20vw ;
                }
            }