body{
    margin:0 ;
    padding:0;   
}

.ul{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-color: black;
    
    
    margin:0 ;
    padding:0;

   
}

.li{
    font-size: 20px;
    text-align: center;
    color: white;
    height: 10vh;
    width: 20.5%;
    text-align: center;
    line-height: 10vh;list-style-type: none;
     background-color: black;}
     

.logo{
    text-align: center;
    list-style: none;
    color: white;
    height: 10vh;
    width: 6%;
    line-height: 10vh;
    text-align: center;
     background-color: black;}


 .logo:hover    {
    background-color: grey;
}
     
a{
        color: white;
        text-decoration: none;
    
         }

a:hover{color:gray;}
         
.accueil{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 90vh;
    
    background-image:url("mariage.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
        }
    
        .titre{
         display: flex;
         justify-content: center;
        
        }

        .fond{
            background-attachment: fixed;
            
            
            background-image: url("flowers-4032775__340.webp");
        }

        .boitetrans
         {
          
          background-color: #ffffff;
          border: 1px solid black;
          opacity: 0.6;
        }
        img{
            width: 5vw;
            height: 5vh;
            vertical-align: middle;
        }
